%tr{ id: "user-#{user.id}" }
  %td
    =link_to(edit_user_path(user), remote: true) do
      =icon('pencil', 'aria-hidden' => 'true')
  %td=user.name
  %td=user.email
  %td=user.role
  %td=user.confirmed?
