.container
  .row
    %h1 Users
  .row
    %table.table.table-striped.user-list
      %thead
        %tr
          %th Name
          %th Email
          %th Email Confirmed?
          %th Role
      %tbody
        -@users.each do |user|
          %tr
            %td=link_to('Edit', edit_user_path(user), remote: true)
            %td=user.name
            %td=user.email
            %td=user.confirmed?
            %td=user.role

