.container
  .row
    %h1 Users
  .row
    %table.table.table-striped.user-list
      %thead
        %tr
          %th &nbsp
          %th Name
          %th Email
          %th Email Confirmed?
          %th Role
      %tbody
        =render partial: 'user', collection: @users
  .row#edit-user-modal.modal.fade{"aria-labelledby" => "edit-user-label", role: "dialog", :tabindex => "-1"}
