%li
  %a{href: "#about"} About
%li
  %a{href: "#contact"} Contact
- unless user_session
  %li
    =link_to 'Sign in', new_user_session_path
- if user_session
  %li
    =link_to 'Edit account', edit_user_registration_path
  %li
    =link_to 'Sign out', destroy_user_session_path, method: :delete
